@charset "utf-8";
/* CSS Document */
@import url( " "../index.html"");
#Ocean
{
width: 100%;
height: 100%;
background-image: url( "../Images/abstract_background_268729/Abstract_Background.jpg");
}
